{%extends 'base.html' %}
 {% load static %}
{%block body%}
  <!-- ======= About Us Section ======= -->
 <main id="main" style="padding-top: 150px">
  
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>About Us</h2>
          <p>
            Magnam dolores commodi suscipit. Necessitatibus eius consequatur
            ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam
            quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
            Quia fugiat sit in iste officiis commodi quidem hic quas.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="" />
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>
              Voluptatem dignissimos provident quasi corporis voluptates sit
              assumenda.
            </h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <ul>
              <li>
                <i class="bi bi-check-circle"></i> Ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Duis aute irure dolor in
                reprehenderit in voluptate velit.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate trideta storacalaperda mastiro
                dolore eu fugiat nulla pariatur.
              </li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum
              dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Us Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">
        <div class="row no-gutters">
          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fas fa-user-md"></i>
              <span
                data-purecounter-start="0"
                data-purecounter-end="85"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>

              <p><strong>Doctors</strong> consequuntur quae qui deca rode</p>
              <a href="#">Find out more &raquo;</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="far fa-hospital"></i>
              <span
                data-purecounter-start="0"
                data-purecounter-end="26"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>
                <strong>Departments</strong> adipisci atque cum quia aut
                numquam delectus
              </p>
              <a href="#">Find out more &raquo;</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fas fa-flask"></i>
              <span
                data-purecounter-start="0"
                data-purecounter-end="14"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>
                <strong>Research Lab</strong> aut commodi quaerat. Aliquam
                ratione
              </p>
              <a href="#">Find out more &raquo;</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fas fa-award"></i>
              <span
                data-purecounter-start="0"
                data-purecounter-end="150"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>
                <strong>Awards</strong> rerum asperiores dolor molestiae
                doloribu
              </p>
              <a href="#">Find out more &raquo;</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Counts Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">
            <div class="icon-box mt-5 mt-lg-0">
              <i class="bx bx-receipt"></i>
              <h4>Est labore ad</h4>
              <p>
                Consequuntur sunt aut quasi enim aliquam quae harum pariatur
                laboris nisi ut aliquip
              </p>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-cube-alt"></i>
              <h4>Harum esse qui</h4>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt
              </p>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-images"></i>
              <h4>Aut occaecati</h4>
              <p>
                Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut
                maiores omnis facere
              </p>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-shield"></i>
              <h4>Beatae veritatis</h4>
              <p>
                Expedita veritatis consequuntur nihil tempore laudantium vitae
                denat pacta
              </p>
            </div>
          </div>
          <div
            class="image col-lg-6 order-1 order-lg-2"
            style="background-image: url('{% static 'img/features.jpg' %}')"
            data-aos="zoom-in"
          ></div>
        </div>
      </div>
    </section>
    <!-- End Features Section -->

    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Our Team</h2>
          <p>
            Magnam dolores commodi suscipit. Necessitatibus eius consequatur
            ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam
            quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
            Quia fugiat sit in iste officiis commodi quidem hic quas.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img
                  src="{% static 'img/doctors/doctors-1.jpg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Medical Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img
                  src="{% static 'img/doctors/doctors-2.jpg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Anesthesiologist</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img
                  src="{% static 'img/doctors/doctors-3.jpg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>Cardiology</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img
                  src="{% static 'img/doctors/doctors-4.jpg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Neurosurgeon</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Doctors Section -->
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Gallery</h2>
          <p>
            Magnam dolores commodi suscipit. Necessitatibus eius consequatur
            ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam
            quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
            Quia fugiat sit in iste officiis commodi quidem hic quas.
          </p>
        </div>

        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide">
              <a
                class="gallery-lightbox"
                href="{% static 'img/gallery/gallery-1.jpg' %}"
                ><img
                  src="{% static 'img/gallery/gallery-1.jpg' %}"
                  class="img-fluid"
                  alt=""
              /></a>
            </div>
            <div class="swiper-slide">
              <a
                class="gallery-lightbox"
                href="{% static 'img/gallery/gallery-2.jpg' %}"
                ><img
                  src="{% static 'img/gallery/gallery-2.jpg' %}"
                  class="img-fluid"
                  alt=""
              /></a>
            </div>
            <div class="swiper-slide">
              <a
                class="gallery-lightbox"
                href="{% static 'img/gallery/gallery-3.jpg' %}"
                ><img
                  src="{% static 'img/gallery/gallery-3.jpg' %}"
                  class="img-fluid"
                  alt=""
              /></a>
            </div>
            <div class="swiper-slide">
              <a
                class="gallery-lightbox"
                href="{% static 'img/gallery/gallery-4.jpg' %}"
                ><img
                  src="{% static 'img/gallery/gallery-4.jpg' %}"
                  class="img-fluid"
                  alt=""
              /></a>
            </div>
            <div class="swiper-slide">
              <a
                class="gallery-lightbox"
                href="{% static 'img/gallery/gallery-5.jpg' %}"
                ><img
                  src="{% static 'img/gallery/gallery-5.jpg' %}"
                  class="img-fluid"
                  alt=""
              /></a>
            </div>
            <div class="swiper-slide">
              <a
                class="gallery-lightbox"
                href="{% static 'img/gallery/gallery-6.jpg' %}"
                ><img
                  src="{% static 'img/gallery/gallery-6.jpg' %}"
                  class="img-fluid"
                  alt=""
              /></a>
            </div>
            <div class="swiper-slide">
              <a
                class="gallery-lightbox"
                href="{% static 'img/gallery/gallery-7.jpg' %}"
                ><img
                  src="{% static 'img/gallery/gallery-7.jpg' %}"
                  class="img-fluid"
                  alt=""
              /></a>
            </div>
            <div class="swiper-slide">
              <a
                class="gallery-lightbox"
                href="{% static 'img/gallery/gallery-8.jpg' %}"
                ><img
                  src="{% static 'img/gallery/gallery-8.jpg' %}"
                  class="img-fluid"
                  alt=""
              /></a>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>
    <!-- End Gallery Section -->
  </main>
  <!-- End #main -->


 {%endblock%}